<br>
<br>

<div class="container">
  <h1>Zark Billing</h1>

  {{#link-to 'log-time' class='button button-primary'}}Log Time{{/link-to}}
  {{#link-to 'invoices' class='button button-primary'}}Invoices{{/link-to}}

  {{outlet}}
</div>
